.header {
    background-color: #121212;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    gap: 20px;
}

.header-link {
    color: #000000;
    background-color: #1DB954;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.header-link:hover, .header-link:focus {
    background-color: #1ed760;
    color: #FFFFFF;
}
